
.bggreen{
    background-color: #1ABC9C !important;
}
.roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.widthsmall{
    width: 250px !important;
}
.widthsmallpx{
    width: 100px !important;
    height: 5px !important;
}
.fontsize{
    font-size: 50px !important;
}
.textblue{
    color: #2C3E50;
}
.bgblue{
     background-color: #2C3E50 !important;
}
.marginstart{
    margin-left: -775px;
}
.btn{
    background-color:#1ABC9C ;
    border: none;
}
.bgdarkblue{
    background-color: #1d242b !important;
}
.bglightblue{
    background-color: #3b4d5f !important;
    
}
.nav-link{
    font-weight: 700;
}
.bggreentrans{
    background-color: rgba(26, 188, 156,0.8) !important;
    cursor: pointer;
    opacity: 0 !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.bggreentrans:hover{
    opacity: 1 !important;
}
.active{
    background-color: #1ABC9C;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    padding: 6px 12px !important;
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}